.contents-part .part-mid {
  margin: 30px 0 50px;
}

.cs-center-tab:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.cs-center-tab-list {
  width: 250px;
  height: 170px;
  position: relative;
  float: left;
}
.cs-center-tab-list.on:after, .cs-center-tab-list:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcb040;
}
.cs-center-tab-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 125px 0 0 0;
  font-size: 16px;
  text-align: center;
  color: #666;
  font-weight: bold;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.cs-center-tab-link.on, .cs-center-tab-link:hover {
  color: #fcb040;
}
.cs-center-tab-link:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin: 0 0 0 -32px;
  background: url(../images/sprite_bg_cs_center_tab.png) no-repeat;
}
.cs-center-tab-link.faq.on:after, .cs-center-tab-link.faq:hover:after {
  background-position: 1px -66px;
}
.cs-center-tab-link.faq:after {
  background-position: 1px 0;
}
.cs-center-tab-link.ask.on:after, .cs-center-tab-link.ask:hover:after {
  background-position: -78px -66px;
}
.cs-center-tab-link.ask:after {
  background-position: -78px 0;
}
.cs-center-tab-link.notice.on:after, .cs-center-tab-link.notice:hover:after {
  background-position: -158px -66px;
}
.cs-center-tab-link.notice:after {
  background-position: -158px 0;
}
.cs-center-tab-link.guide.on:after, .cs-center-tab-link.guide:hover:after {
  background-position: -240px -66px;
}
.cs-center-tab-link.guide:after {
  background-position: -240px 0;
}
.cs-center-search {
  width: 100%;
  height: 115px;
  padding: 30px 125px 20px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  box-sizing: border-box;
}
.cs-center-search-select {
  width: 125px;
}
.cs-center-search-select .select {
  border: 2px solid #25aae1;
}
.cs-center-search-select .label {
  height: 38px;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
}
.cs-center-search-input {
  width: 488px;
  height: 42px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #25aae1;
  box-sizing: border-box;
}
.cs-center-search-btn {
  width: 115px;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  background: #25aae1;
}
.cs-center-search .search-input-area:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.cs-center-search .search-keyword {
  width: 488px;
  margin: 7px auto 0;
  text-align: center;
}
.cs-center-search .search-keyword-item {
  display: inline-block;
  margin: 0 0 0 14px;
}
.cs-center-search .search-keyword-item.first {
  margin: 0;
}
.cs-center-search .search-keyword-link {
  color: #666;
}
.cs-center-search .search-keyword-link:hover {
  color: #25aae1;
  border-bottom: 1px solid #25aae1;
}

.faq-wrap {
  border-top: 2px solid #222;
}
.faq-wrap.no-result {
  text-align: center;
  font-weight: bold;
  padding: 150px 0;
  border-bottom: 1px solid #d8d8d8;
}

.faq-list {
  border-bottom: 1px solid #ebebeb;
}
.faq-list-title {
  position: relative;
  line-height: 1.6;
  padding: 22px 0;
  cursor: pointer;
}
.faq-list-title:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.faq-list-title:hover {
  background: #f8f8f8;
}
.faq-list-title .category {
  width: 180px;
  float: left;
  position: relative;
  font-weight: bold;
  text-align: center;
  color: #25aae1;
}
.faq-list-title .category:after {
  content: "Q";
  display: block;
  position: absolute;
  top: -1px;
  left: 20px;
  color: #222;
  font-weight: bold;
}
.faq-list-title .question {
  width: 820px;
  float: left;
}
.faq-list-content {
  display: none;
  position: relative;
  padding: 25px 25px 25px 180px;
  line-height: 1.6;
  background: #f8f8f8;
  box-sizing: border-box;
}
.faq-list-content.open {
  display: block;
}
.faq-list-content:after {
  content: "A";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 70px;
  margin: -20px 0 0 0;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
  background: url(../images/bg_faq_answer.png) no-repeat;
}

.notice-view-head {
  padding: 20px 40px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #dcdcdc;
  background: #fafafa;
}
.notice-view-head:after {
  content: "";
  display: block;
  clear: both;
}
.notice-view-head .category {
  float: left;
  font-weight: bold;
  color: #25aae1;
}
.notice-view-head .title {
  padding: 0 0 0 40px;
  float: left;
  font-weight: bold;
  color: #222;
}
.notice-view-head .date {
  font-weight: bold;
  color: #222;
  float: right;
}
.notice-view-body {
  padding: 40px;
  line-height: 1.6;
  border-bottom: 1px solid #dcdcdc;
}


/* guide 2016_07 */

.contents-top-tab-area {
    margin:45px 0 0 0;
}
.cs-center-tab-sub:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.cs-center-tab-sub-list {
    width:33.33%;
    height:45px;
    float:left;
}
.cs-center-tab-sub-list.on a {
    background-color:#fcb040;
    color:#fff;
    border:none;
    box-sizing:border-box;
}
.cs-center-tab-sub-list a{
    display:block;
    width:100%;
    line-height:45px;
    height:45px;
    text-align:center;
    border:1px solid #ddd;
    border-left:none;
    box-sizing:border-box;
    color:#979696;
}
.cs-center-tab-sub-list:first-child a{
	border-left:1px solid #ddd;
}
.cs-center-tab-sub-list.on:first-child a{
	border-left:1px solid #fcb040;
}
/* .cs-center-tab-sub-list a:hover{
    background-color:#fcb040;
    color:#fff;
    border:none;
    box-sizing:border-box;
} */
.list-description {
    border:1px solid #d8d8d8;
    padding:35px 25px;
}


.list-description ul li{
	color:#666666;
	font-size:13px;
	line-height:20px;
}
.info-description-title {
    color: #010101;
    font-size:16px;
    font-weight: bold;
    margin-bottom:15px;
}
.info-description-text {
    margin-bottom:12px;
    line-height:22px;
    color:#666
}
.info-description-text.last {
    margin-bottom:0;
}

.part-mid.guide_mt {
    margin-top:50px;
}

.contents_box {

}
.guide_title {
    width:100%;
    padding-bottom:18px;
    margin-bottom:37px;
    border-bottom:1px solid #000000;
    font-size:26px;
    color:#2475d0;
    text-align:left;
    letter-spacing:-1.7px;
}
.guide_title.mb0 {
    margin-bottom:0;
}
.guide_sub_text {
    padding:38px 0;
    font-size:14px;
    color:#d02121;
    text-align:center;
    font-weight:bold;
}
.guide-step {
    height:134px;
    margin-bottom:40px;
}
.guide-stap-left {
    width:134px;
    height:89px;
    margin:0 34px 0 5px;
    background:url(../images/bg_guide_stap_left.png) no-repeat;
    font-size:17px;
    color:#fff;
    text-align:center;
    padding-top:45px;
    line-height:25px;
    float:left;
}
.guide-stap-right {
    width:823px;
    height:115px;
    background:url(../images/bg_guide_stap_right.png) no-repeat left 19px;;
    float:left;
    padding-top:19px;
}
.guide-stap-right li{
    float:left;
    color:#000;
    line-height:20px;
}
.guide-stap-right span {
    text-indent:-9999px;
    overflow:hidden;
    width:0;
    height:0;
    display:block;
}
.guide-stap-right li.step1 {
    width:179px;
    padding:28px 0 0 55px;
}
.guide-stap-right li.step2 {
    width:173px;
    padding:28px 0 0 33px;
}
.guide-stap-right li.step3 {
    width:163px;
    /* letter-spacing:-1px; */
    padding:28px 0 0 30px;
}
.guide-stap-right li.step4 {
    padding:28px 0 0 40px;
}
.guide-stap-right li.line1 {
    padding-top:37px;
}
.guide-stap-right li.line3 {
    padding-top:16px;
}
.guide_box {
    margin-bottom:100px;
}
.guide_box.last {
    margin-bottom:150px;
}
.guide_box.last2 {
    margin-bottom:170px;
}
.guide_box:after {
    content:".";
    display:block;
    clear:both;
    width:0;
    height:0;
    overflow:hidden;
}
.guide_text_box {

}
.guide_box img {
    margin-left:-9px;
    margin-bottom:22px;
}
.guide_box .none_m {
    margin-left:0;
    margin-bottom:27px;
}
.guide_box .none_bm {
    margin-left:-4px;
    margin-bottom:1px;
}
.guide_text_box {

}
img.guide_text_mt {
    margin-bottom:5px;
}
.guide_box_left {
    float:left;
    width:522px;
}
.guide_box_right {
    float:left;
    width:478px;

}
.guide_text_title {
    font-size:15px;
    color:#25bfee;
    margin-bottom:15px;
    font-weight:bold;
}
.guide_text_txt {
    font-size:13px;
    color:#666666;
    line-height:20px;
}

.guide_text_box_1 .guide_text_title {
    float:left;
    width:262px;
}
.guide_text_box_1 .guide_text_txt {
    float:left;
    width:738px;
    margin-top:-2px;
}

.guide_text_box_3 .guide_box_left {
    float:left;
    width:363px;
}
.guide_text_box_3 .guide_box_center {
    float:left;
    width:350px;
}
.guide_text_box_3 .guide_box_right {
    float:left;
    width:287px;
}
.guide_text_box_4 .guide_box_left {
    float:left;
    width:350px;
}
.guide_text_box_4 .guide_box_right {
    float:left;
    width:650px;
}
.guide_text_box_4 .guide_text_title {
    line-height:20px;
}

.guide_text_box_1.big .guide_text_title {
    float:left;
    width:310px;
}
.guide_text_box_1.big .guide_text_txt {
    float:left;
    width:690px;
    margin-top:-2px;
}
.guide_info {
    border-top:2px solid #000;
}
.guide_info_title {
    line-height:53px;
    font-size:14px;
    color:#000;
    font-weight:bold;
    text-align:center;
    background-color:#f2f2f2;
    margin:3px 0 2px 0;
}
.guide_info_box {
    background-color:#f8f8f8;
    border:1px solid #ddd;
    padding:31px;
}
.guide_info_box_title {
    margin-top:20px;
    margin-bottom:5px;
    font-weight: bold;
}
.guide_info_box_title.first {
    margin-top:0;
    font-weight: bold;
}
.guide_info_box_text, .guide_info_box_text li {
    line-height:20px;
}
.guide_btn {
    font-size:20px;
    width:auto;
    padding:0 20px;
}
.guide_title2 {
    width:161px;
    line-height:42px;
    background:url(../images/bg_guide_title2.png) no-repeat;
    text-align:center;
    font-size:15px;
    font-weight:bold;
    color:#fff;
    margin-top:66px;
    margin-bottom:43px;
}
.guide_title3 {
    width:371px;
    background:url(../images/bg_guide_title3.png) no-repeat;
    margin-top:105px;
    margin-bottom:22px;
}
.table_title {
    font-size:15px;
    color:#000;
    font-weight:bold;
    margin-bottom:20px;
}
.guide_center,.guide_center th {
    text-align:center;
}
.guide_center th,.guide_center td {
    height:57px;
    padding:0;
    font-size:14px;
}
.guide_center td{
	color:#666666;
	font-weight:normal;
}
.guide_center strong {
    color:#000;
}
.guide_center .first {
    border-left:0;
}
.table_info_text {
    font-size:12px;
    color:#666;
    text-align:right;
    margin:15px 0 95px 0;
}
/* .guide_service_text {
    width:980px;
    height:80px;
    background-color:#ea4b35;
    color:#fff;
    font-size:16px;
    text-align:center;
    margin-left:11px;
    padding-top:27px;
    line-height:28px;
} */



.guide_ncon{
	margin-top:95px;
}
.guide_ncon:first-child{
	margin-top:0
}
.guide_ncon .ncon{
	 margin-top:93px;
}

.guide_ncon .ncon.bt{
	padding-top:38px;
	border-top:1px solid #e5e5e5	
}

.guide_con .ncon:first-child{
	margin-top:0
}
.guide_title + .ncon{
	margin-top:0
}

.guide_con_ul .ul_guide{
	font-size:0;
}
.guide_con_ul .ul_guide li{
	display:inline-block;
	width:480px;
	margin-top:48px;
	vertical-align:top;
}
.guide_con_ul .ul_guide li.full{
	width:100%;
}
.guide_con_ul .ul_guide li.nomt{
	margin-top:0
}
.guide_con_ul .ul_guide li.ml{
	margin-left:40px;
}
.guide_con_ul .ul_guide li .txtarea{
	padding:23px 10px 0 22px;
}
.guide_con_ul .ul_guide li .title{
	display:block;
	margin-bottom:10px;
	color:#25aae2;
	font-size:16px;
	font-weight:bold;
	line-height:22px;
}
.guide_con_ul .ul_guide li .txtarea p{
	color:#666666;
	font-size:14px;
	line-height:20px;
	word-break:keep-all;
}



.mobile_ul .ul_guide li{
	position:relative;
	width:270px;
}
.mobile_ul .ul_guide li .imgarea{
	position:relative;
}
.mobile_ul .ul_guide li .txtarea{
	padding-left:0;
	padding-right:0
}
.mobile_ul .ul_guide li.ml{
	margin-left:95px
}

.mobile_ul .ul_guide li .esc01{
	margin-left:-19px;
}
.mobile_ul .ul_guide li .esc02{
	margin-left:-28px;
}



.gn_step{
	margin-bottom:48px;
}

.gn_step .title,
.gn_step .steparea{
	float:left;
	display:inline-block;
	font-size:0;
	vertical-align:middle;
}
.gn_step .title{
	display:inline-block;
	padding-right:70px;
	margin-top:27px;
	background: url(../images/guide/ncs_dot01.png) no-repeat right 28px center;
	color:#222222;
	font-weight:bold;
	font-size:16px;
}
.gn_step .steparea{
	
}

.gn_step .steparea dl{
	display:inline-block;
	min-height:51px;
	padding-left:70px;
	vertical-align:top;
	background: url(../images/guide/ncs_won01.png) no-repeat 20px 20px;
}
.gn_step .steparea dl:first-child{
	padding-left:0;
	background:none;
}
.gn_step .steparea dl dt{
	color:#aaaaaa;
	font-size:13px;
	font-weight:bold;
}
.gn_step .steparea dl dd{
	margin-top:13px;
	color:#222222;
	font-size:14px;
	line-height:20px;
}


.guide_alert_con{
	border-top:2px solid #000000;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5
}
.guide_alert_con .ghead{
	padding:22px 0;
	text-align:center;
	border-bottom:1px solid #e5e5e5
}
.guide_alert_con .ghead .tit{
	color:#222222;
	font-size:16px;
	font-weight:bold;
}

.guide_alert_con .gbody{
	padding:26px 30px;
	background:#f8f8f8
}
.guide_alert_con .gbody dl.mt0{
	margin-top:0;
}
.guide_alert_con .gbody dl{
	margin-top:21px;
}
.guide_alert_con .gbody dl dt{
	margin-bottom:5px;
	color:#000000;
	font-weight:bold;
	font-size:15px;
	line-height:22px;
}
.guide_alert_con .gbody dl dd{
	color:#666666;
	font-size:14px;
	line-height:24px;
}
.guide_alert_con .gbody dl dd ol>li ul{
	padding-left:	11px;
}



.ng_bottom{
	padding:50px 0 100px;
	text-align:center;
	font-size:0;
}
.ng_bottom .newBtn{
	margin-left:10px;
}
.ng_bottom .newBtn:first-child{
	margin-left:0
}
.ng_bottom.line{
	border-top:1px solid #e5e5e5;
}



.double_ncon{
	font-size:0;
}
.double_ncon .nn{
	display:inline-block;
	margin-left:40px;
	vertical-align:top;
}
.double_ncon .nn:first-child{
	margin-left:0
}