<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lecto.forward.persistence.BoardSearchViewMapper">
	 <resultMap type="com.lecto.forward.vo.BoardSearchVO" id="boardSearchVO">
	 	<id property="memberId" column="member_id" jdbcType="VARCHAR" />
	 	<id property="themeName" column="theme_name" jdbcType="VARCHAR" />
	 	<id property="boardName" column="board_name" jdbcType="VARCHAR" />
	 	<id property="boardCode" column="board_code" jdbcType="VARCHAR" />
	 </resultMap>
	 
	 <sql id="columns">
	 	board_code, member_id, theme_name, board_name
	 </sql>	
	
	<select id="searchBoardName" resultMap="boardSearchVO">
		select <include refid="columns" />
		from board_search_view
		where board_name = #{boardName}
	</select>
	
	<select id="searchBoardSearchView" resultMap="boardSearchVO">
		select <include refid="columns" />
		from board_search_view
		where 
		board_code = #{boarCode}
		and member_id = #{memberId}
		and board_name = #{boardName}
		and theme_name = #{themeName}
	</select>
	
	<select id="searchBoardSearchViews" parameterType="java.util.List" resultMap="boardSearchVO">
		select <include refid="columns" />
		from board_search_view
		where
		<foreach collection="list" item="item" separator="or" index="index" open="(" close=")">
		board_code = #{item.boardCode}
		and member_id = #{item.memberId}
		and board_name = #{item.boardName}
		and theme_name = #{item.themeName}
		</foreach>
	</select>
	
	<select id="searchMemberId" resultMap="boardSearchVO">
		select <include refid="columns" />
		from board_search_view
		where member_id = #{memberId}
	</select>
	
	<select id="searchBoardSearchViewAll" resultMap="boardSearchVO">
		select <include refid="columns" />
		from board_search_view
	</select>
	
	<select id="searchThemeName" resultMap="boardSearchVO">
		select <include refid="columns"/>
		from board_search_view
		where theme_name =#{themeName}
	</select>
	
  </mapper>